@model IEnumerable<WalletDto>

<div class="container">
    <h2>My Wallets</h2>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New Wallet</a>
    </p>

    <div class="row">
        @foreach (var wallet in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@wallet.Name</h5>
                        <p class="card-text">Type: @wallet.WalletType</p>
                        <a asp-action="Details" asp-route-id="@wallet.WalletId"
                           class="btn btn-info">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>